/* ベース　*/

@charset "UTF-8";

* {
  box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

.inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2;
  background-image: url("img/bg.png");
  background-repeat: repeat;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  transition: 0.3s;
  opacity: 0.6;
}

/* 画像サイズ調整 */
.header-logo img {
  width: 160px;
  height: 60px;
}

.container-right img {
  width: 600px;
  height: 345px;
}

.heading-img img {
  width: 300px;
  height: 23px;
}

.icon img {
  width: 250px;
  height: 238px;
}

.block img {
  width: 450px;
  height: 300px;
}

.block-r img {
  width: 450px;
  height: 300px;
}

.card img {
  width: 300px;
  height: 168px;
}

.footer-logo img {
  width: 200px;
  height: 75px;
}

/* 背景色の設定 */
#header {
  background-color: #fff;
}

#feature {
  background-color: #fff;
  height: 651px;
}

#news {
  background-color: #fff;
}

#contact {
  background-color: #fff;
}

#footer {
  background-color: #c6c6c6;
  color: #ffffff;
}

.footer-nav li a {
  color: #ffffff;
}

#header .inner {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header-btn {
  width: 180px;
  height: 48px;
  margin: 21px 0px;
  background-color: #ec84a0;
  border: #ec84a0;
  box-shadow: 3px 3px 10px #00000029;
  border-radius: 28px;
  opacity: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.header-btn a {
  color: #ffffff;
  line-height: 48px;
}

.header-logo img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  width: 1080px;
  height: 595px;
  display: flex;
  justify-content: space-between;


  .container-right {
    display: flex;
    align-items: center;
  }

  .container-left {
    h2 {
      font-size: 36px;
      font-weight: bold;
      margin-top: 42%;
    }

    p {
      font-size: 16px;
      width: 400px;
      height: 70px;
      margin: 20px 0px 75px 0px;
    }

    .container-btn {
      display: flex;

      .btn {
        a {
          width: 166px;
          height: 48px;
          padding: 15px 30px;
          margin: 10px;
          font-weight: bold;
          color: #fff;
          background-color: #ec84a0;
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.161);
          border-radius: 32px;
          opacity: 1;
        }

        &.outline {
          a {
            background: #FFFFFF;
            border: 2px solid #EC84A0;
            color: #EC84A0;
            opacity: 1;
          }
        }
      }

    }
  }
}






.li-2 {
  a {
    width: 256px;
    height: 48px;
    padding: 15px 30px;
    margin: 10px;

    font-weight: bold;
    color: #ec84a0;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px #00000029;
    border: 2px solid #ec84a0;
    border-radius: 32px;
    opacity: 1;
  }
}





/* /mainvisual */

.heading {
  text-align: center;
  padding: 60px 0px;

  h2 {
    font-size: 32px;
  }

}


/* feature */

.group {
  display: flex;
  justify-content: space-around;

  .content {
    p {
      text-align: center;
      font-size: 16px;
    }

  }
}

/* /feature */

/* about */

.block {
  height: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  position: relative;
  margin: 125px 0px;


  &:nth-of-type(2n) {
    flex-direction: row;
    margin-left: 55px;


    .text-box {
      margin-left: auto;
      margin-right: 60px;

    }

    .image-box {
      left: -55px;
    }
  }

  &:nth-of-type(2n - 1) {
    flex-direction: row-reverse;
    margin-right: 55px;

    .text-box {
      margin-right: auto;
      margin-left: 60px;
    }

    .image-box {
      right: -55px;
    }
  }

  .image-box {
    position: absolute;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.161);
    top: -55px;


  }


  .text-box {
    width: 50%;

    display: flex;
    flex-direction: column;
    justify-content: center;


    h3 {
      font-size: 22px;
    }

    p {
      font-size: 16px;
      width: 450px;
    }
  }

}

// /about 


#news {
  .inner {
    .news-cards {
      display: flex;
      justify-content: space-around;

      .card {
        padding: 12px 10px;
        width: 320px;

        background-color: #fff;
        box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.161);
        opacity: 1;

        .card-img {

          position: relative;

          span {
            position: absolute;
            display: block;
            background-color: #EC9C84;
            color: #FFFFFF;
            font-size: 14px;
            width: 67px;
            text-align: center;
            line-height: 1.5;
            right: 0;
            top: 0;
          }
        }

        .date {
          font-size: 14px;
          color: #333333;
        }

        p {
          font-size: 16px;
          font-weight: bold;
        }
      }

    }

    .news-btn {
      display: flex;
      justify-content: center;

      a {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        display: inline-block;
        padding: 0 30px;
        line-height: 3;
        margin: 65px 0;
        line-height: 2.7;
        background-color: #EC84A0;
        color: #FFFFFF;
        box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.161);
        border-radius: 28px;
        opacity: 1;

      }
    }
  }
}

//  /news

// contact
#contact {
  .inner {

    .form {

      width: 485px;
      margin: auto;

      justify-content: center;

      label {
        display: flex;

        justify-content: space-between;



        .label {
          font-size: 18px;
          font-weight: bold;
          display: flex;
          align-items: center;
        }

        p {
          margin: 0 10px;
          font-size: 12px;
          background-color: #EC84A0;
          color: #FFFFFF;

        }

        .input {
          display: block;
          width: 290px;
        }
      }

    }
  }
}


// footer
#footer {
  .inner {
    .footer-logo {
      display: flex;
      justify-content: center;
      padding: 30px 0;
    }

    .footer-nav {
      ul {
        display: flex;
        justify-content: center;
        padding-bottom: 30px;

        li {
          font-size: 14px;
          padding: 0 20px;
          border-right: 1px solid;

          &:last-child {
            border-right: 0;
          }
        }


      }
    }

    .footer-copyright {
      display: flex;
      justify-content: center;
      font-size: 14px;
    }
  }
}

//  /footer