@charset "UTF-8";
/* ベース　*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  margin: 0;
  padding: 0;
}

.inner {
  width: 1080px;
  max-width: 100%;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic", "游ゴシック", YuGothic, "游ゴシック体", sans-serif;
  font-weight: 500;
  color: #333;
  line-height: 2;
  background-image: url("img/bg.png");
  background-repeat: repeat;
}

h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
  vertical-align: bottom;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0.6;
}

/* 画像サイズ調整 */
.header-logo img {
  width: 160px;
  height: 60px;
}

.container-right img {
  width: 600px;
  height: 345px;
}

.heading-img img {
  width: 300px;
  height: 23px;
}

.icon img {
  width: 250px;
  height: 238px;
}

.block img {
  width: 450px;
  height: 300px;
}

.block-r img {
  width: 450px;
  height: 300px;
}

.card img {
  width: 300px;
  height: 168px;
}

.footer-logo img {
  width: 200px;
  height: 75px;
}

/* 背景色の設定 */
#header {
  background-color: #fff;
}

#feature {
  background-color: #fff;
  height: 651px;
}

#news {
  background-color: #fff;
}

#contact {
  background-color: #fff;
}

#footer {
  background-color: #c6c6c6;
  color: #ffffff;
}

.footer-nav li a {
  color: #ffffff;
}

#header .inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-btn {
  width: 180px;
  height: 48px;
  margin: 21px 0px;
  background-color: #ec84a0;
  border: #ec84a0;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  border-radius: 28px;
  opacity: 1;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.header-btn a {
  color: #ffffff;
  line-height: 48px;
}

.header-logo img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.container {
  width: 1080px;
  height: 595px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .container-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .container-left h2 {
  font-size: 36px;
  font-weight: bold;
  margin-top: 42%;
}

.container .container-left p {
  font-size: 16px;
  width: 400px;
  height: 70px;
  margin: 20px 0px 75px 0px;
}

.container .container-left .container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .container-left .container-btn .btn a {
  width: 166px;
  height: 48px;
  padding: 15px 30px;
  margin: 10px;
  font-weight: bold;
  color: #fff;
  background-color: #ec84a0;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.161);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.161);
  border-radius: 32px;
  opacity: 1;
}

.container .container-left .container-btn .btn.outline a {
  background: #FFFFFF;
  border: 2px solid #EC84A0;
  color: #EC84A0;
  opacity: 1;
}

.li-2 a {
  width: 256px;
  height: 48px;
  padding: 15px 30px;
  margin: 10px;
  font-weight: bold;
  color: #ec84a0;
  background-color: #ffffff;
  -webkit-box-shadow: 3px 3px 10px #00000029;
          box-shadow: 3px 3px 10px #00000029;
  border: 2px solid #ec84a0;
  border-radius: 32px;
  opacity: 1;
}

/* /mainvisual */
.heading {
  text-align: center;
  padding: 60px 0px;
}

.heading h2 {
  font-size: 32px;
}

/* feature */
.group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.group .content p {
  text-align: center;
  font-size: 16px;
}

/* /feature */
/* about */
.block {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  position: relative;
  margin: 125px 0px;
}

.block:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 55px;
}

.block:nth-of-type(2n) .text-box {
  margin-left: auto;
  margin-right: 60px;
}

.block:nth-of-type(2n) .image-box {
  left: -55px;
}

.block:nth-of-type(2n - 1) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  margin-right: 55px;
}

.block:nth-of-type(2n - 1) .text-box {
  margin-right: auto;
  margin-left: 60px;
}

.block:nth-of-type(2n - 1) .image-box {
  right: -55px;
}

.block .image-box {
  position: absolute;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.161);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.161);
  top: -55px;
}

.block .text-box {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block .text-box h3 {
  font-size: 22px;
}

.block .text-box p {
  font-size: 16px;
  width: 450px;
}

#news .inner .news-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#news .inner .news-cards .card {
  padding: 12px 10px;
  width: 320px;
  background-color: #fff;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.161);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.161);
  opacity: 1;
}

#news .inner .news-cards .card .card-img {
  position: relative;
}

#news .inner .news-cards .card .card-img span {
  position: absolute;
  display: block;
  background-color: #EC9C84;
  color: #FFFFFF;
  font-size: 14px;
  width: 67px;
  text-align: center;
  line-height: 1.5;
  right: 0;
  top: 0;
}

#news .inner .news-cards .card .date {
  font-size: 14px;
  color: #333333;
}

#news .inner .news-cards .card p {
  font-size: 16px;
  font-weight: bold;
}

#news .inner .news-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#news .inner .news-btn a {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  display: inline-block;
  padding: 0 30px;
  line-height: 3;
  margin: 65px 0;
  line-height: 2.7;
  background-color: #EC84A0;
  color: #FFFFFF;
  -webkit-box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.161);
          box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.161);
  border-radius: 28px;
  opacity: 1;
}

#footer .inner .footer-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 0;
}

#footer .inner .footer-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 30px;
}

#footer .inner .footer-nav ul li {
  font-size: 14px;
  padding: 0 20px;
  border-right: 1px solid;
}

#footer .inner .footer-nav ul li:last-child {
  border-right: 0;
}

#footer .inner .footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.lead-form {
  text-align: center;
  font-size: 20px;
}

form {
  width: 460px;
  margin: 0 auto;
}

.item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.item .item-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
}

.item .item-left .required {
  color: #FFFFFF;
  background-color: #EC84A0;
}

.label {
  float: left;
  margin-right: 20px;
  width: 135px;
  padding-left: 10px;
}

.inputs {
  float: left;
  width: 300px;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  font-size: 15px;
}

textarea {
  border: solid 1px #aaa;
  border-radius: 5px;
  padding: 10px;
  height: 160px;
  font-size: 15px;
}

.btn-area {
  text-align: center;
}

input[type="submit"] {
  background: #EC84A0;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
}

input[type="reset"] {
  background: #aaa;
  border: none;
  color: white;
  font-size: 17px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 0 5px;
}
/*# sourceMappingURL=style.css.map */